{% include 'layout.html' %} {% block title%}
<title>Customize</title>
{% endblock%}

<div class="container">
    <div class="card-body text-monospace"></div>
    <div name = "url_key" class="card-body text-monospace">Old url key:{{url_key.key}}</div>
    <div class="card-body">
        <h2>Customize Url</h2>
    </div>
    
    <div class="card-body"></div>

    <div class="container">
        {% if msg == [] %}
        <div class="alert alert-success" role="alert">{{ "create magic" }}</div>
        {% elif msg ==  'Updated successfully' %}
        <div class="alert alert-success" role="alert">{{ msg }}</div>
        {% else %}
        <div class="alert alert-danger" role="alert">{{ msg }}</div>
        {% endif %}

        <div class="card">
            <div class="card-header">
                You can choose Preferred url_key
            </div>
            <div class=card-body>
                <form method = "POST">
        
                    <div class="form-group">
                        <label>Title (optional)</label>
                        <input name = "title" class="form-control" type="text" id="title" value="{{url_key.title}}">
                    </div>
                    <div class="form-group">
                        <label>Target URL (optional) </label>
                        <input name = "target_url" class="form-control" value="{{url_key.target_url}}"></input>
                    </div>
                    <div class="form-group">
                        <label>Custom Key</label>
                        <input name ="custom_name" type="text" class="form-control" id="title" placeholder= "Customize URL name" required>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Customize</button>
                    <button
                        onclick="window.location.href='/ezzy/dashboard'"
                        type="button"
                        class="btn btn-success"
                    >
                        Dashboard
                    </button>
                </form>
            </div>
        </div>
        <hr class="orb-divider"></hr>
        <hr class="orb-divider"></hr>
        <hr class="orb-divider"></hr>
        <div class=""><h4>you've reached the end of this page</h4></div>
    </div>
</div>

<div class="card-body"></div>
<div class="whyscissors"></div>

{% include %}
